[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
asyncio = "*"
flask-cors = "*"
bilibili-api = "*"
loguru = "*"
youtube-dl = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.9"
