aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
beautifulsoup4==4.9.3
bilibili-api==6.1.2
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Cors==3.0.10
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
loguru==0.5.3
lxml==4.6.3
MarkupSafe==2.0.1
multidict==5.1.0
PyYAML==5.4.1
six==1.16.0
soupsieve==2.2.1
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
win32-setctime==1.0.3
yarl==1.6.3
youtube-dl==2021.6.6
