[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-dl = "*"
tqdm = "*"
requests = "*"
coloredlogs = "*"
loguru = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
