certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coloredlogs==15.0
Flask==1.1.2
humanfriendly==9.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
loguru==0.5.3
MarkupSafe==1.1.1
pyreadline==2.1
requests==2.25.1
tqdm==4.59.0
urllib3==1.26.4
Werkzeug==1.0.1
win32-setctime==1.0.3
youtube-dl==2021.3.14
