[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yt-dlp = "*"
pydantic = "*"
loguru = "*"
pyopenssl = "*"
python-dotenv = "*"
aiohttp = "*"
requests = "*"
rsa = "*"
biliup = "*"

[dev-packages]

[requires]
python_version = "3.9"
