[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-dl = "*"
loguru = "*"
bilibili-api = "*"
flask = "*"
biliup = "*"

[dev-packages]

[requires]
python_version = "3.9"
